.search-box {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}

.select-box {
  margin-left: 20px;
  padding: 10px;
}

.delete {
  margin-left: 20px;
}
